<div class="about ct">
  <p><strong>Who Dat</strong> helps bring growing companies closer together.</p>
  <p>It was crafted during a <a href="http://hired.com"><strong>Hired</strong></a> hackathon.</p>
  <p><a href="https://github.com/bananatron/who-dat"><u>This is where the source currently lives</u></a>, if you're into that kind of thing.</p>
  <img src="images/toon/4.png" />
</div>