<div class="about ct">
  <p><strong>Who Dat</strong> helps bring growing companies closer together.</p>
  <p>It was crafted during a <a href="http://hired.com"><strong>Hired</strong></a> hackathon.</p>
  <p><i>Put some more text here about hired promotional stuff idk.</i></p>
  <img src="images/toon/4.png" />
</div>