<div class="ct">
    <br><br>
    <h2>Add Employee</h2><br><br>
    
    <form action="/add" method="post">
        Name<br>
        <input name='name'></input><br>
        Position<br>
        <input name='position'></input><br>
        Image Url<br>
        <input name='image'></input><br>
        <input type="submit"></input>
    </form>
    
    <br><i>Be sure to allow writes on fb prior to adding.</i>
</div>